# Stop Lombok from searching parent directories for more configuration files
config.stopBubbling = true

# Add @lombok.Generated annotation to generated methods in order to exclude them from code coverage
lombok.addLombokGeneratedAnnotation = true

# The generated logger fieldname is by default 'log', but you can change it to a different name with this setting.
lombok.log.fieldName = LOGGER
